version: "3.8"

services:
  agent-service:
    image: ${AGENT_IMAGE}
    container_name: agent-service
    restart: unless-stopped
    ports:
      - "15011:15011"
      - "6563:6563" # <-- Новый порт для ATTP
    environment:
      - ASC_PORT=15011
      - ASC_ROOT_PATH=/
      - REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379
    env_file:
      - .env
    networks:
      - default
    depends_on:
      - redis

  nginx-proxy:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - default

  redis:
    image: redis:7-alpine
    container_name: neuroboss-redis
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    networks:
      - default

volumes:
  redis_data:

networks:
  default:
    driver: bridge
